@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap');

:root {
  font-family: 'Inter', sans-serif;
  line-height: 1.5;
  font-weight: 400;
  letter-spacing: -0.5px; /* makes letters closer together */
  color-scheme: light dark;
  color: black;
  background-color: white;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

button, input, textarea, select {
  font-family: inherit; /* Ensure UI elements inherit Inter */
}

h2 {
  letter-spacing: -0.7px; /* Extra tightening for headings */
  font-weight: 400;
  color: #082c1b;
  margin: 0;
  padding: 1rem;
}

h1 {
  letter-spacing: -0.7px; /* Extra tightening for headings */
  font-weight: 600;
  color: white;
  margin: 10px;
  display: flex;
  align-items: center;
}

header {
  background-color: #134e32;
  width: 100vw;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  padding: 2rem 0;
  height: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.dashboard-wrapper {
  display: flex;
  flex-direction: column;
  height: 100vh;
  margin: 0;
}

.chart-container {
  width: 90%;
  height: 65vh;
  background-color: #f9f9f9;
  margin: 6.5rem auto 7px auto;
  padding: 0 10px 20px 10px;
  position: relative;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  border-radius: 5px;
  border: 1px solid #e4e4e4;
  flex-grow: 1;
}

.form-container {
  background-color: #ffffff;
  width: 90%;
  border-radius: 5px;
  margin: 5px auto 20px auto;
  padding: 8px;
  border: 1px solid #e4e4e4;
  flex-shrink: 0;
}

form {
  display: flex;
  justify-content: center;
  gap: 40px;
  align-items: center;
  margin: 5px;
}

label {
  display: flex;
  color: #082c1b;
}

button {
  padding: 7px;
  border-radius: 5px;
  cursor: pointer;
  background-color: #124F33;
  color: rgb(255, 255, 255);
  width: 100px;
  transition: background-color 0.2s ease;
}

button:hover {
  background-color: #187c49;
}

.amount-input {
  width: 60px;
  margin-left: 2px;
  background-color: #ffffff;
  color: black;
}

select {
  margin-left: 5px;
  background-color: #ffffff;
  color: black;
}

/* landing header */
.landing-header {
text-align: center;
font-size: 3.5rem;
line-height: 1.2;
padding: 1.5rem 1rem 0.2rem;
margin: 0 auto;
color: #082c1b;
font-weight: 700;
letter-spacing: -2.5px;
background: linear-gradient(45deg, #082c1b, #0dc566);
-webkit-background-clip: text;
background-clip: text;
-webkit-text-fill-color: transparent;
animation: fadeIn 0.8s ease-out;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}